@import "src/main";
@import "elr-scss-reset/src/main";

@include elr-reset;

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.subheading {
  font-size: 16px;
  color: #666;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: 20px 0;
}

.demo-content {
  background-color: #eee;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.media-block:not(:last-child),
.media-block-noborder:not(:last-child) {
  margin-bottom: 24px;
}

.media-block {
  @include elr-media-block;
}

.media-block-noborder {
  @include elr-media-block(
    $config: (
      border-color: transparent,
      vertical-align: center,
    )
  );
}
