@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";

@mixin elr-media-block($config: ()) {
  $config: extend(
    (
      border-color: $light-gray,
      background-color: $white,
      border-radius: $border-radius,
      vertical-align: top,
      box-shadow: $shadow,
    ),
    $config
  );

  $border-color: map-get($config, border-color);
  $background-color: map-get($config, background-color);
  $border-radius: map-get($config, border-radius);
  $vertical-align: map-get($config, vertical-align);
  $box-shadow: map-get($config, box-shadow);

  @if ($border-color != transparent) {
    border: 1px solid $border-color;
  }

  border-radius: $border-radius;
  background-color: $background-color;
  padding: $base-fontsize * 1.5;
  box-shadow: $box-shadow;
  display: flex;

  @if ($vertical-align == top) {
    align-items: flex-start;
  } @else if ($vertical-align == center) {
    align-items: center;
  } @else if ($vertical-align == bottom) {
    align-items: flex-end;
  } @else {
    align-items: flex-start;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding: $base-fontsize;
  }

  figure {
    margin-right: $base-fontsize * 1.5;
    margin-top: 0;
    min-width: 100px;
    max-width: max-content;
    flex: 1;

    // @if ($vertical-align == top) {
    //   margin-top: 4px;
    // }

    @media (max-width: $mobile-width) {
      margin-bottom: $base-fontsize;
      margin-right: 0;
    }

    img {
      @if ($border-color != transparent) {
        border: 1px solid $border-color;
      }
      border-radius: $border-radius;
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  .media-block-content {
    flex: 3;
  }

  .heading {
    padding: 0;

    @if ($border-color != transparent) {
      border-bottom: 1px solid $border-color;
      padding-bottom: $base-fontsize * 0.5;
      margin-bottom: $base-fontsize;
    } @else {
      margin-bottom: $base-fontsize * 0.5;
    }

    margin-top: 0;
    font-size: $base-fontsize * 1.5;
    font-weight: 900;
    color: $primary-color;
  }

  p {
    font-size: $base-fontsize;
    margin: $base-fontsize * 0.5 0;
    line-height: 1.5;
    padding: 0;

    @media (max-width: $mobile-width) {
      font-size: $base-fontsize * 0.875;
    }
  }

  .media-block-footer {
    margin-top: $base-fontsize * 2;
  }
}
