@import "elr-scss-functions/src/main";

@mixin elr-media-block($config: ()) {
  $config: extend(
    (
      border-color: #ccc,
      background-color: #fff,
      border-radius: 5px,
      vertical-align: top,
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
    ),
    $config
  );

  $border-color: map-get($config, border-color);
  $background-color: map-get($config, background-color);
  $border-radius: map-get($config, border-radius);
  $vertical-align: map-get($config, vertical-align);
  $box-shadow: map-get($config, box-shadow);

  @if ($border-color != transparent) {
    border: 1px solid $border-color;
  }

  border-radius: $border-radius;
  background-color: $background-color;
  padding: 16px;
  box-shadow: $box-shadow;
  display: flex;

  @if ($vertical-align == top) {
    align-items: flex-start;
  } @else if ($vertical-align == center) {
    align-items: center;
  } @else if ($vertical-align == bottom) {
    align-items: flex-end;
  } @else {
    align-items: flex-start;
  }

  figure {
    margin-right: 24px;
    flex-basis: 200px;

    @if ($vertical-align == top) {
      margin-top: 4px;
    }

    img {
      @if ($border-color != transparent) {
        border: 1px solid $border-color;
      }
      border-radius: $border-radius;
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .heading {
    @if ($border-color != transparent) {
      border-bottom: 1px solid $border-color;
      padding-bottom: 4px;
      margin-bottom: 8px;
    } @else {
      margin-bottom: 8px;
    }

    font-size: 20px;
    font-weight: 900;
  }

  // .media-block-content {
  //   margin-bottom: 16px;
  // }

  p {
    font-size: 16px;
    margin: 8px 0;
    padding: 0;
  }
}
